@namespace Dependinator.Diagrams

@inject ICanvasService srv
@inject IPanZoomService pzs

<div @onkeyup="@srv.OnKeyUp">
    <svg @ref=Ref xmlns="http://www.w3.org/2000/svg" width="@pzs.Width" height="@pzs.Height" viewBox="@pzs.ViewBox"
        @onwheel="@pzs.OnMouseWheel" @onmousemove="@pzs.OnMouseMove" @onmouseup="@pzs.OnMouseUp"
        @onmousedown="@pzs.OnMouseDown">
        @((MarkupString)srv.SvgContent)
    </svg>
</div>

@code {
    public ElementReference Ref;

    public void TriggerStateHasChanged()
    {
        InvokeAsync(() => StateHasChanged());
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await pzs.InitAsync(this);
            await srv.InitAsync(this);
        }
    }
}
