@namespace Dependinator.Diagrams
@using Microsoft.AspNetCore.Components.Forms

<MudLayout>
    <MudAppBar Dense="true" Elevation="5">

        <MudMenu Icon="@Icons.Material.Outlined.Menu" Color="Color.Inherit" Dense="true" Class="mr-5"
            AnchorOrigin="Origin.BottomCenter">
            <MudMenuItem IconSize="Size.Medium" IconColor="Color.Primary" Icon="@Icons.Material.Outlined.FitScreen"
                OnClick="srv.PanZoomToFit" OnTouch="srv.PanZoomToFit">Fit
                to
                Screen</MudMenuItem>
            <MudMenuItem IconSize="Size.Medium" IconColor="Color.Primary" Icon="@Icons.Material.Outlined.FileOpen"
                OnClick="srv.OpenFiles" OnTouch="srv.OpenFiles">Open
                Files</MudMenuItem>
        </MudMenu>

        <MudTooltip Text="Pand and zoom diagram to fit screen">
            <MudIconButton Icon="@Icons.Material.Outlined.FitScreen" Color="Color.Inherit" OnClick="srv.PanZoomToFit" />
        </MudTooltip>
        <MudTooltip Text="Open files to show">
            <MudIconButton Icon="@Icons.Material.Outlined.FileOpen" Color="Color.Inherit" OnClick="srv.OpenFiles" />
        </MudTooltip>
        <MudText Typo="Typo.h6" Class="ml-6">@DiagramName</MudText>

    </MudAppBar>

    <MudMainContent>
        <div @ref="dropZoneElement" class="drop-zone">
            <InputFile hidden="true" OnChange="LoadFiles" multiple @ref="inputFile" />
            <svg id="svgcanvas" @ref=@Ref xmlns="http://www.w3.org/2000/svg" width="@Width" height="@Height"
                viewBox="@ViewBox">
                <style>
                    svg {
                        cursor: @Cursor;
                    }

                    .hoverable:hover * {
                        stroke: #51b8fc;
                        stroke-width: 4px;
                        stroke-opacity: 1;
                    }

                    .hoverline:hover * {
                        stroke: #51b8fc;
                        stroke-width: 6px;
                        stroke-opacity: 1;
                    }

                    .iconName {
                        font: Verdana, Helvetica, Arial, sans-serif;
                        fill: white;
                        dominant-baseline: hanging;
                        text-anchor: middle;
                        pointer-events: none;
                    }

                    .nodeName {
                        font: Verdana, Helvetica, Arial, sans-serif;
                        fill: white;
                        dominant-baseline: hanging;
                        text-anchor: start;
                        pointer-events: none;
                    }
                </style>
                <defs>
                    <marker id="arrow" markerWidth="10" markerHeight="7" refX="10" refY="3.5" orient="auto">
                        <polygon points="0 0, 10 3.5, 0 7" fill="white" />
                    </marker>
                    @((MarkupString)IconDefs)
                </defs>

                @((MarkupString)Content)
            </svg>
        </div>

    </MudMainContent>
</MudLayout>
