@namespace Dependinator.Diagrams
@using Microsoft.AspNetCore.Components.Forms


<NodeToolbar />
<DependenciesExplorer />


<div @ref="dropZoneElement" class="drop-zone">
    <InputFile id="inputfile" hidden="true" OnChange="LoadFiles" multiple @ref="inputFile" />
    <svg id="svgcanvas" @ref=@Ref xmlns="http://www.w3.org/2000/svg" width="@Width" height="@Height" viewBox="@ViewBox">
        <style>
            svg {
                cursor: @Cursor;
            }

            .hoverable:hover * {
                stroke: @Coloring.Highlight;
                stroke-width: 4px;
                stroke-opacity: 1;
            }

            .hoverableedit:hover * {
                stroke: @Coloring.EditNode;
                stroke-width: 4px;
                stroke-opacity: 1;
            }

            .selectpoint:hover * {
                fill: #51b8fc;
                stroke-width: 1px;
                fill-opacity: 0.3;
            }


            .hoverline:hover * {
                stroke: #51b8fc;
                stroke-width: 6px;
                stroke-opacity: 1;
            }

            .iconName {
                font: Verdana, Helvetica, Arial, sans-serif;
                fill: #D1C4E9;
                dominant-baseline: hanging;
                text-anchor: middle;
                pointer-events: none;
            }

            .nodeName {
                font: Verdana, Helvetica, Arial, sans-serif;
                fill: #D1C4E9;
                dominant-baseline: hanging;
                text-anchor: start;
                pointer-events: none;
            }
        </style>
        <defs>
            <marker id="arrow" markerWidth="5" markerHeight="4" refX="5" refY="2" orient="auto">
                <polygon points="0 0, 5 2, 0 4" fill="#B388FF" />
            </marker>
            @((MarkupString)IconDefs)
        </defs>

        @((MarkupString)Content)
    </svg>
</div>
