@inject IApplicationEvents applicationEvents
@inject IDependenciesService srv


<MudTreeView Color="Color.Warning" Items="@Tree.Items" @bind-SelectedValue="Tree.Selected" Hover="true" Dense="true"
    Width="100%">
    <ItemTemplate>
        <MudTreeViewItem Value="@context" Icon="@context.Icon" @bind-Expanded="@context.IsExpanded"
            ExpandedIcon="@context.ExpandIcon" Items="@context.Items">
            <BodyContent Context="item">
                <div style="display: grid; grid-template-columns: 1fr auto; align-items: center; width: 100%">
                    <MudText Style="justify-self: start;" Color="@context.TextColor">
                        @context.Title
                    </MudText>
                    <div style="justify-self: end;">
                        <MudIconButton Icon="@Icons.Material.Filled.CenterFocusStrong" Size="Size.Small"
                            Color="Color.Inherit" Class="ml-3" />
                        <MudIconButton Icon="@Icons.Material.Filled.LinearScale" Size="Size.Small"
                            Color="Color.Inherit" />
                    </div>
                </div>
            </BodyContent>
        </MudTreeViewItem>
    </ItemTemplate>
</MudTreeView>

@code {
    [Parameter]
    public TreeSide Side { get; set; }

    Tree Tree => srv.TreeData(Side);


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender) applicationEvents.UIStateChanged += () => InvokeAsync(StateHasChanged);
    }
}