@namespace Dependinator.Diagrams

<div>
    <code>@Info</code>
</div>

<div>
    <svg @ref=@Ref xmlns="http://www.w3.org/2000/svg" width="@Width" height="@Height" viewBox="@viewBox"
        @onwheel=@OnMouse @onmousemove=@OnMouse @onmouseup=@OnMouse @onmousedown=@OnMouse>
        <style>
            svg {
                cursor: default;
            }

            rect:hover {
                stroke: blue;
            }

            .iconName {
                font: Verdana, Helvetica, Arial, sans-serif;
                fill: white;
                dominant-baseline: hanging;
                text-anchor: middle;
                pointer-events: none;
            }

            .nodeName {
                font: Verdana, Helvetica, Arial, sans-serif;
                fill: white;
                dominant-baseline: hanging;
                text-anchor: start;
                pointer-events: none;
            }
        </style>
        <defs>
            @((MarkupString)IconDefs)
        </defs>

        @((MarkupString)SvgContent)
    </svg>
</div>
