@namespace Dependinator.Diagrams

<div>
    <code>@Zoom</code>
</div>

<div>
    <svg @ref=@Ref xmlns="http://www.w3.org/2000/svg" width="@Width" height="@Height" viewBox="@viewBox"
        @onwheel=@OnMouse @onmousemove=@OnMouse @onmouseup=@OnMouse @onmousedown=@OnMouse>
        <style>
            svg {
                cursor: default;
            }

            .nodeName {
                font: Verdana, Helvetica, Arial, sans-serif;
                fill: white;
            }
        </style>

        @((MarkupString)SvgContent)

    </svg>
</div>
