@namespace Dependinator.Diagrams


<div>
    <code>@srv.ZoomTxt</code>

    <svg @ref=@Ref xmlns="http://www.w3.org/2000/svg" width="@pzs.Width" height="@pzs.Height"
        viewBox="@pzs.ViewRectText" @onwheel="@pzs.OnMouseWheel" @onmousemove="@pzs.OnMouseMove"
        @onmouseup="@pzs.OnMouseUp" @onmousedown="@pzs.OnMouseDown">
        <style>
            .nodeName {
                font: Verdana, Helvetica, Arial, sans-serif;
                fill: white;
            }
        </style>
        @((MarkupString)SvgContent)

    </svg>

</div>
