@namespace Dependinator.Diagrams


<div>
    <svg @ref=@Ref xmlns="http://www.w3.org/2000/svg" width="@pzs.Width" height="@pzs.Height" viewBox="@pzs.ViewBox"
        @onwheel="@pzs.OnMouseWheel" @onmousemove="@pzs.OnMouseMove" @onmouseup="@pzs.OnMouseUp"
        @onmousedown="@pzs.OnMouseDown">
        @((MarkupString)srv.SvgContent)
    </svg>
</div>

