@namespace DependinatorLib.Areas.Canvas

@inject DependinatorLib.Areas.Canvas.ICanvasService srv

<div>
    <svg @ref=Ref xmlns="http://www.w3.org/2000/svg" width="400" height="400" viewBox="@srv.ViewBox"
        @onwheel="@srv.OnMouseWheel" @onmousemove="@srv.OnMouseMove" @onmouseup="@srv.OnMouseUp"
        @onmousedown="@srv.OnMouseDown">
        @((MarkupString)srv.SvgContent)
    </svg>
</div>

@code {
    public ElementReference Ref;

    public void TriggerStateHasChanged()
    {
        InvokeAsync(() => StateHasChanged());
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender) await srv.InitAsync(this);
    }
}
